@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    font-family: 'Goblin One', cursive;
    font-size:50px;
    width: 80%;
}

.main-panel{
    width: 90%;
    display: flex;
}
.leaderboard, .chat{
    flex:1;
}
.head{
    font-family: 'Girassol', cursive;
}

.chat-container, .leaderboard-users{
    height: 45vh;
    overflow-y: scroll;
}
.chat-container::-webkit-scrollbar, .leaderboard-users::-webkit-scrollbar  {
    display: none;
}
#word{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.tools{
    display:flex;
    justify-content:space-around;
    padding:20px
}
.fa-trash{
    font-size:30px;
    cursor:pointer
}
#width-picker{
    width: 200px
}
.popup-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5)
}
.popup, .notification{
    width: 40%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}
.main-toast{
    position: absolute;
    top: 10%;
    right: 10%;
    background-color:white;
    z-index: 100;
}
.none{
    display: none;
}