@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    font-family: 'Goblin One', cursive;
    font-size:50px;
    width: 50%;
}
.flex{
    display:flex;
}
.create, .join{
    flex:1;
    border: 1px solid white;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.5)
}

input{
    width: 100%;
    border: none;
}
.head{
    font-size:30px;
    font-family: 'Goblin One', cursive;
}
.btn{
    color: rgb(45, 119, 255);
    border: 2px solid rgb(45, 119, 255);
    width: 40%
}

.btn:hover{
    color: white;
    background-color: rgb(45, 119, 255);
}
.form-control{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius:0px;
    font-family: cursive;

}
.form-control:focus{
    background:none;
    box-shadow:none;
}
.popup{
    position: absolute;
    top: 5%;
    right:10%;
    padding: 10px;
    font-size: 20px;
    width: 20%;
    text-align: center;
    display: none;
}